nav{
    margin: 0px;
    padding: 0px;
    position: sticky;
    top: 0;
    height: 60px;
    background-color: rgb(249, 242, 230);
}
.NavLeft, .NavRight{    
    margin: 0px;
    padding: 0px;   
    width: 45%;
    height: 60px;
}
.NavLeft{
    float: left;
}
.NavRight{
    float: right;
}
.icon img{
    padding-left: 2%;
    height: 60px;
    width: auto;
    float: left;    
}   
h4{
    font-size: small;
    line-height: 50px;
    margin: 0% 0% 0% 3%;
    display: inline-block;
    text-align: center;
}   
.search{
    background-color: #f5f5f6;
    border: 1px solid gray;
    margin: 15px;
    width: 50%;
    float: left;    
}
.image1{
    margin-top: 30px;
}
.image1 img{
    width: 100%;    
}           
.imageList{
    overflow: auto;
    white-space: nowrap;
}
.imageList img{
    padding: 10px;
    width: 200px;
}
.offer{
    background-color: #535766;
    position: fixed;    
    bottom: 200px;
    height: 150px;
    right: 0px;
    width: 30px;
}
.offer p{
    color: white;
    font-weight: 400;
    margin: 6px;
    padding: 0;
    position: absolute;
    top: 15px;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}   
